.quote {
	border: 1px solid black;
	width: 90%;
	margin: 1em;
}
.column {
	width: 35%;
	display: inline-block;
	vertical-align: top;
}
.author_button * {
	display: inline-block;
}
nav {
	display:inline-block;
	margin-right: 0px;
	margin-left: 70%; 
}

#favorite {
	height: 50vh;
	overflow: scroll;
	border: 1px solid black;
}
#quote_container {
	height: 75vh;
	overflow: scroll;
	border: 1px solid black;
}
.right {
	margin-left: 15%;
}
.red {
	color: red;
}