<!DOCTYPE html>
<html>
<head>
	<title>Quotes</title>
	{%load static%}
	<link rel="stylesheet" type="text/css" href="{% static 'login_registration_app/css/style_dashboard.css'%}">
</head>
<body>
	<nav>
		<a href="/users/logout">Logout</a>
	</nav>
	<h1>Welcome, {{request.session.user_alias}}</h1>
	<div id="quote_container" class="column">
		<h3>Quotable Quotes</h3>
		{% for quote in quotes %}
		<div class="quote">
			<p><span class="bold">{{quote.author}}</span> {{quote.text}}</p>
			<div class="author_button">
				<p>Posted by <a href="/users/{{request.session.user_id}}">{{quote.user.alias}}</a></p>
				<form action="/quotes/addfavorites/{{quote.id}}">
					<input type="submit" value="Add to My List">
				</form>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="column">
		<div id="favorite" class="right">
			<h3>Your Favorites</h3>
			<div class="quote">
				<p>SOMEQUOTES</p>
				<div class="author_button">
					<p>Posted by <a href="">SOMEAUTHOR</a></p>
					<form>
						<input type="submit" value="Remove From My List">
					</form>
				</div>
			</div>
		</div>
		<div class="right">
			<h3>Contribute a Quote:</h3>
			{% for message in messages %}
				<p class="red">{{message}}</p>
			{% endfor %}
			<form action='/quotes/add' method="POST">
			{% csrf_token %}
				<p>Quoted By: <input type="text" name="name"></p>
				<p>Message: <textarea name="text"></textarea></p>
				<input type="submit" value="Submit">
			</form>
		</div>
	</div>
</body>
</html>