<!DOCTYPE html>
<html>
<head>
	<title>Quotes</title>
	{%load static%}
	<link rel="stylesheet" type="text/css" href="{% static 'login_registration_app/css/style_dashboard.css'%}">
</head>
<body>
	<nav>
		<a href="/quotes">Dashboard</a> | 
		<a href="">Logout</a>
	</nav>
	<h3>Posts by {{user.alias}}</h3>
	<h3>Count: {{numb_of_quotes}}</h3>
	<div class="container">
	{%for quote in quotes %}
		<p><span class="red">{{quote.author}}:</span>
		{{quote.text}}
		</p>
	{% endfor %}
	</div>
</body>
</html>